In [1]:
Num1=input("Enter Num1")
Num2=input("Enter Num2")

Enter Num1 5
Enter Num2 6

In [2]:
print(Num1+Num2)

56

In [3]:
Num3=int(input("Enter Num3"))
Num4=int(input("Enter Num4"))

Enter Num3 7
Enter Num4 90

In [6]:
print(Num3+Num4)

97

In [7]:
Fname=str(input("Enter your first name"))
Lname=str(input("Enter your last name"))

Enter your first name Monilka
Enter your last name Karunadhika

In [8]:
Name=Fname+" "+Lname
print(Name)

Monilka Karunadhika

In [9]:
subject1=int(input("Enter the subject 1 marks."))
subject2=int(input("Enter the subject 2 marks."))
subject3=int(input("Enter the subject 3 marks."))
subject4=int(input("Enter the subject 4 marks."))
total=subject1+subject2+subject3+subject4
average=total/4
print(Name)
print(subject1)
print(subject2)
print(subject3)
print (subject4)
print(total)
print(average)

Enter the subject 1 marks. 72
Enter the subject 2 marks. 79
Enter the subject 3 marks. 86
Enter the subject 4 marks. 93

Monilka Karunadhika
72
79
86
93
330
82.5

In [12]:
print(Name,subject1,subject2)

Monilka Karunadhika 72 79